* {
    margin: 0;
    box-sizing: border-box;
}

:root {
/* Primary Colors */
    --pink: #ff008c;
    --orange: #ff7b29;
    --yellow: #ffcd1e;

    --dark-black: hsl(240, 5%, 4%);
    --black: hsl(240, 5%, 7%);
    --light-black: hsl(240, 6%, 13%);

    --dark-gray: hsl(240, 6%, 17%);
    --gray: hsl(240, 6%, 58%);
    --light-gray: hsl(240, 7%, 78%);
    --super-light-gray: hsl(240, 9%, 89%);

    --white: hsl(0, 0%, 100%);
}

