* {
    margin: 0;
    box-sizing: border-box;

}

:root {
/* Primary Colors */
    --pink: #ff008e;
    --orange: #ff7b29;
    --yellow: rgb(255, 206, 31);

    --dark-black: #09090A;
    --black: #121214;
    --light-black1: #202024;

    --dark-gray: hsl(240, 6%, 17%);
    --gray: hsl(240, 6%, 58%);
    --light-gray: hsl(240, 7%, 78%);
    --super-light-gray: hsl(240, 9%, 89%);

    --white: hsl(0, 0%, 100%);

/* Gradient */
    --gradient: linear-gradient(135deg, var(--pink), var(--orange), var(--yellow)) ;
}

