body {
  background-color: var(--dark-black);
  width: 100vw;
  height: 100%;

  font-family: "Roboto", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-retangle {
    width: 64px;
    height: 158px;
    background: linear-gradient(to bottom, var(--pink), var(--yellow));
}

main {
  background: url("../assets/background.svg");
  background-position: center;
  width: 358px;
  height: 540px;
  padding: 0 3rem;
  text-align: center;
}

.content-badge {
    margin-top: 4.5rem;

}

.content-badge img {
    width: 160px;
    margin-bottom: 1rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--super-light-gray);
  text-align: center;
  margin-bottom: 0.25rem;
}

.content-badge .github-container a {
    width: 55%;
    margin: 0 auto 2rem;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.content-badge .github-container img {
    width: 16px;
    height: 16px;
    margin-bottom: 0;
    align-self: center;
}

.content-badge .github-container p {
    font-size: 1rem;
    color: var(--super-light-gray);
    margin-bottom: 0;
}

p {
  font-size: 0.875rem;
  line-height: 1.7rem;
  font-weight: 400;
  color: var(--super-light-gray);
  margin-bottom: 2.5rem;
}

/*To do: solve the social container issue */
.social-container ul{
    background: brown;
    margin: auto;
    display: flex;  
    justify-content: center;
    align-items: center;
   
}

.social-container ul li.social-items {
    width: 3rem;
    height: 3rem; 
    list-style: none;
    background-color: var(--dark-gray);
}

.social-items img {
    margin-bottom: 0;

}

.social-items img:first-child, .social-items img:last-child {
    width: 24.69px;
}

.social-items img:nth-child(2), .social-items img:nth-child(3) {
    width: 24px;
}
